.canvas-container{
    position: relative;
    display: block;
    margin: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

#canvas{
    position: absolute;
    display: block;
    margin: auto;
    left: 100px;
    background-color: #fea91d;
    overflow-y: hidden;
    overflow-x: hidden;
}

button {
    background-color: #566e3d;
    border-radius: 10px;
    font-family: "Myriad Pro";
    width: 250px;
    height: 50px;
    position: absolute;
    display: block;
    margin: auto;
    color: #d6c14d;
    border: none;
    font-size: 30px;
}

#musicBtn{
    background-color: initial;
    left: 525px;
    top: 208px;
    width: 100px;
    height: 100px;
}

#soundBtn{
    background-color: initial;
    left: 525px;
    top: 370px;
    width: 100px;
    height: 100px;
}

#sairBtn{
    left: 275px;
    top: 508px;
}