.canvas-container{
    position: relative;
    display: block;
    margin: auto;
    width: 800px;
    height: 600px;
}

#canvas{
    position: absolute;
    /*background-color: #fea91d;*/
    display: block;
    margin: auto;
}

div{
    position: relative;
    display: block;
    margin: auto;
}

button {
    background-color: #566e3d;
    border-radius: 10px;
    font-family: "Myriad Pro";
    width: 250px;
    height: 50px;
    position: absolute;
    display: block;
    margin: auto;
    color: #d6c14d;
    border: none;
    font-size: 30px;
}

#voltarBtn{
    left: 275px;
    top: 508px;
}

table{
    font-family: "Myriad Pro";
    border-collapse: collapse;
    font-size: 25px;
}

th{
    background-color: #566e3d;
    top: 50%;
}

td, th{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
    height: 55px;
    width: 100px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}