.canvas-container{
    position: relative;
    display: block;
    margin: auto;
    width: 800px;
    height: 600px;
}

#canvas{
    position: absolute;
    display: block;
    margin: auto;
    background-color: #fea91d;
}

button {
    background-color: #566e3d;
    border-radius: 10px;
    font-family: "Myriad Pro";
    width: 250px;
    height: 50px;
    position: absolute;
    display: block;
    margin: auto;
    color: #d6c14d;
    border: none;
    font-size: 30px;
}

#nameBtn{
    font-size: 30px;
    position: absolute;
    background-color: #0c6384;
    left: 325px;
    top: 400px;
}

#inputBox{
    background-color: #fea91d;
    position: absolute;
    left : 375px;
    top : 270px;
    font-size: 30px;
}
